<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let order of orderData;index as i">
            <div class="order mt-1" *ngIf="i<=5">
                <img src="{{order.order_img}}">
                <h1>{{order.order_name}}</h1>
                <p> {{order.order_price | currency:'EGP'}}</p>
                <!-- [routerLink]="['/menu',order.order_id]" using that to send name , id from this page to "data-in-menu-component" in url and content page -->
                <a class="btnBuy" [routerLink]="['/menu',order.order_id]">Click To Buy  &nbsp; <i class="bi bi-cart-plus"></i></a>
            </div>

        </div>
    </div>
</div>
