form>input{
    margin: 10px;
    width: 98%;
}
button{
    margin-right: 15px;
    float: right;
}
form>a{
    margin-right: 10px;
    float: right;
}
img{
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
    padding: 10px 20px;
}

