<div class="container mt-5 mb-5">
    <h1>Contact Us</h1>
    <form class="col-lg-8">
        <div class="row">

            <div class="col-lg-6 mt-2 mb-2">
               <input class="form-control" type="text" placeholder="First Name">
            </div>
            
            <div class="col-lg-6 mt-2 mb-2">
                <input class="form-control" type="text" placeholder="Last Name">
            </div>
            
            <div class="col-lg-12  mt-2 mb-2">
                <input class="form-control" type="email" placeholder="Email">
            </div>

            <div class="col-lg-12  mt-2 mb-2">
                <input class="form-control" type="number" placeholder="Phone Number">
            </div>
            
            <div class="col-lg-12  mt-5 mb-5">
                <!-- <a routerLink="/menu" class="btn btn-secondary mt-3">Cancle</a> -->
                <a class="btn btn-secondary mt-3" routerLink="/menu">Cancle</a>
                <button class="btn btn-primary mt-3">Submit</button>
            </div>


        </div>
    </form>

</div>
