button{
    margin: 5px;
   float: right;
}
.container{
    margin-left: 15%;
    height: 392px;
}
.btn-secondary{
    margin-right: 20px;
    float: right;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
// form>a{
//     // margin-right: 10px;
//     float: right;
// }

